<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--
	<bean id="userDAO" class="cn.edu.xmu.artworkauction.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="secureService" class="cn.edu.xmu.artworkauction.service.impl.SecureServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	-->
	<!--  why  -->
	
	
	<!--
	<bean name="tempSecureService" parent="transactionProxy">
		<property name="target" ref="BidService"></property>
	</bean>	
	 此处为代理 -->
	
</beans>